@use "../helpers/" as *;
.about-advantage 
{
    margin-bottom: 20px;
    &__group 
    {
        font-size: fluid(26,16);
        margin-bottom: 20px;
        li 
        {
            list-style: decimal;
            margin-bottom: 10px;
            position: relative;
            max-width: fit-content;
            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    margin-left: ($i - 1) * 10px;
                }
            }
            &::after 
            {
                content: "";
                width: 100%;
                height: 2px;
                background-color: var(--blue-light);
                position: absolute;
                bottom: -2px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    &_description
    {
        font-size: fluid(26,16);
    }
}