@use "../helpers/" as *;
.burger {
    width: fit-content;
    margin-inline: auto;
    text-align: center;
    display: none;

    @include tablet {
        display: block;
    }
    &__wrapper {
        max-height: 0;
        opacity: 0;
        transition:
            max-height 0.3s ease-in-out,
            opacity 0.3s ease-in-out;

        &.active {
            max-height: 500px;
            opacity: 1;
        }
        li {
            position: relative;
            transform: scale(1);
            transition: var(--smoothly);
            @include hover {
                transform: scale(1.1);
            }
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-bottom: 10px;
        list-style: decimal;
        li {
            overflow: hidden;
            border-radius: 5px;
            border: 1px solid var(--blue-light);
            background-color: var(--blue);
            a {
                padding-inline: 3px;
                font-size: rem(22);
            }
        }
    }
}
