@use "../helpers" as *;
.header {
  background-color: var(--blue);
  margin-bottom: fluid(40,10);
  position: sticky;
  z-index: 5;
  top: -100px;
  padding-block: 5px;
  animation-name: stickyHeader;
  animation-timeline: scroll();
  animation-fill-mode: both;
  animation-range: 0 150px;
  transition: var(--smoothly);
  top: 0;
  &__inside-wripper {
    @include tablet {
      @include visually-hidden();
    }
  }
  &__novigation {
    &__group {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: fluid(20, 10);
      li {
        a {
          font-size: fluid(28,18);
          position: relative;
          transition: var(--smoothly);
          font-family: var(--RussoOne-Regular);
          &:active {
            color: var(--blue-dark);
          }
          &:not(.logo-link) {
            &::after {
              content: "";
              position: absolute;
              width: 0%;
              height: 2px;
              background-color: var(--blue-light);
              bottom: -2px;
              left: 0;
              transition: var(--smoothly);
              left: 50%;
              transform: translateX(-50%);
            }
            @include hover {
              &::after {
                width: 100%;
              }
            }
            &:focus-visible {
              padding: 5px;
              outline: none;
              border-inline: solid 2px black;
            }
          }
          img {
            aspect-ratio: 1;
            width: fluid(100, 70);
            min-width: 50px;
            max-width: 100px;
          }
        }
        .logo-link {
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
      }
    }
  }
}
@keyframes stickyHeader {
  to {
    box-shadow: -2px 2px 19px 0px rgba(56, 73, 89, 1);
    padding-top: 10px;
    border-radius: 0 0 30% 30%;
  }
}
