@use "./helpers" as *;

.container
{
  @include container(1440,20)
}
.scale 
{
  transform: scale(1.1);
}
.active 
{
  display: block !important;
  opacity: 100% !important;
  visibility: visible !important;
}