@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../assets/fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.woff2') format('woff2'),
      url('../assets/fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../assets/fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.woff2') format('woff2'),
      url('../assets/fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff2') format('woff2'),
      url('../assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Russo-One-Regular';
  src: url('../assets/fonts/RussoOne/RussoOne-Regular/RussoOne-Regular.woff2') format('woff2'),
  url('assets/fonts/RussoOne/RussoOne-Regular/RussoOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

