@use "sass:math";
@use "./helpers/" as * ;
body
{
  font-family: var(--Montserrat-Regular), serif;
  font-size: var(--font-min);
  background-color: var(--blue);
  color: var(--white);
  letter-spacing: 1px;
  &::-webkit-scrollbar 
  {
    background-color: var(--blue-gray);
    max-width: 7px;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb
  {
    background-color: var(--blue);
    border-radius: var(--br-20);
  }
}
h1
{
  font-size: fluid(68,32);
  font-family: var(--Montserrat-Bold);
  text-align: center;
  margin-bottom: fluid(40,30);
  text-wrap: balance;
}
h2 
{
  width: fit-content;
  margin-inline: auto;
  font-size: fluid(38,28);
  margin-bottom: fluid(30,20);
  position: relative;
  text-align: center;
  &::before 
  {
    content: "";
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: var(--blue-light);
    bottom: -5px;
    height: 5px;
    border-radius: 25%;
  }
}
h3
{
  font-family: var(--Montserrat-Bold);
  font-size: fluid(28,22);
}
h4 
{
  font-family: var(--Montserrat-Bold);
  font-size: fluid(22,18);
}
