@use "./helpers/" as *;
:root{
  --blue-gray: hsl(209, 25%, 53%);
  --blue-light: hsl(210, 92%, 86%);
  --blue: hsl(209, 79%, 74%);
  --blue-dark: hsl(209, 23%, 28%);
  --white: hsl(0, 0%, 100%);

  --Montserrat-Regular: "Montserrat-Regular";
  --Montserrat-Medium: "Montserrat-Medium";
  --Montserrat-Bold: "Montserrat-Bold";
  --RussoOne-Regular: "Russo-One-Regular";

  --font-max: 48px;
  --font-h2: 34px;
  --font-h3: 28px;
  --font-h4: 22px;
  --font-min:18px;
  
  --spacingSection: 50px;
  
  --smoothly: .2s ease-in;
  --slow: .3s ease;
  --br-20: 20px
}
