:root {
  --blue-gray: #6a89a6;
  --blue-light: #bcddfc;
  --blue: #87bdf1;
  --blue-dark: #384959;
  --white: #fff;

  --Montserrat-Regular: "Montserrat-Regular";
  --Montserrat-Medium: "Montserrat-Medium";
  --Montserrat-Bold: "Montserrat-Bold";
  --RussoOne-Regular: "Russo-One-Regular";
  --font-max: 48px;
  --font-h2: 34px;
  --font-h3: 28px;
  --font-h4: 22px;
  --font-min:18px;

  --spacingSection: 50px;

  --smoothly: .2s ,easy-in;
}