@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.woff2") format("woff2"), url("../assets/fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../assets/fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.woff2") format("woff2"), url("../assets/fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff2") format("woff2"), url("../assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Russo-One-Regular";
  src: url("../assets/fonts/RussoOne/RussoOne-Regular/RussoOne-Regular.woff2") format("woff2"), url("assets/fonts/RussoOne/RussoOne-Regular/RussoOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --blue: hsl(209, 25%, 53%);
  --blue-light: hsl(210, 92%, 86%);
  --blue-gray: hsl(209, 23%, 28%);
  --white: hsl(0, 0%, 100%);
  --Montserrat-Regular: "Montserrat-Regular";
  --Montserrat-Medium: "Montserrat-Medium";
  --Montserrat-Bold: "Montserrat-Bold";
  --RussoOne-Regular: "Russo-One-Regular";
  --font-max: 48px;
  --font-h2: 34px;
  --font-h3: 28px;
  --font-h4: 22px;
  --font-min:18px;
  --spacingSection: 50px;
  --smoothly: .2s ease-in;
  --slow: .3s ease;
  --br-20: 20px ;
}

body {
  font-family: var(--Montserrat-Regular), serif;
  font-size: var(--font-min);
  background-color: var(--blue);
  color: var(--white);
  letter-spacing: 1px;
}
body::-webkit-scrollbar {
  background-color: var(--blue-gray);
  max-width: 7px;
  border-radius: 20px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: var(--br-20);
}

h1 {
  font-size: clamp(2.375rem, 1.9423076923rem + 1.9230769231vw, 4.25rem);
  font-family: var(--Montserrat-Bold);
  text-align: center;
  margin-bottom: clamp(1.875rem, 1.7307692308rem + 0.641025641vw, 2.5rem);
  text-wrap: balance;
  line-height: 1;
}

h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  font-size: clamp(1.75rem, 1.6057692308rem + 0.641025641vw, 2.375rem);
  margin-bottom: clamp(1.25rem, 1.1057692308rem + 0.641025641vw, 1.875rem);
  position: relative;
  text-align: center;
}
h2::before {
  content: "";
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background-color: var(--blue-gray);
  bottom: -7px;
  height: 5px;
  border-radius: 25%;
}

h3 {
  font-family: var(--Montserrat-Bold);
  font-size: clamp(1.375rem, 1.2884615385rem + 0.3846153846vw, 1.75rem);
}

h4 {
  font-family: var(--Montserrat-Bold);
  font-size: clamp(1.125rem, 1.0673076923rem + 0.2564102564vw, 1.375rem);
}

.container {
  max-width: 1480px;
  margin-inline: auto;
  padding-inline: 20px;
}

.scale {
  transform: scale(1.1);
}

.active {
  display: block !important;
  opacity: 100%;
  visibility: visible;
}

.burger {
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  text-align: center;
  display: none;
}
@media (max-width: 721px) {
  .burger {
    display: block;
  }
}
.burger__wrapper {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.burger__wrapper.active {
  max-height: 500px;
  opacity: 1;
}
.burger__wrapper li {
  position: relative;
  transform: scale(1);
  transition: var(--smoothly);
}
@media (any-hover: hover) {
  .burger__wrapper li:hover {
    transform: scale(1.1);
  }
}
.burger__wrapper li:active {
  transform: scale(1.1);
}
.burger__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  list-style: decimal;
}
.burger__menu li {
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid var(--blue-light);
  background-color: var(--blue);
}
.burger__menu li a {
  padding-inline: 3px;
  font-size: 1.375rem;
}

.header {
  background-color: var(--blue);
  margin-bottom: clamp(0.625rem, 0.1923076923rem + 1.9230769231vw, 2.5rem);
  position: sticky;
  z-index: 5;
  top: -100px;
  padding-block: 5px;
  animation-name: stickyHeader;
  animation-timeline: scroll();
  animation-fill-mode: both;
  animation-range: 0 150px;
  transition: var(--smoothly);
  top: 0;
}
@media (max-width: 721px) {
  .header__inside-wripper {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    -webkit-clip-path: inset(100%) !important;
            clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
.header__novigation__group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.625rem, 0.4807692308rem + 0.641025641vw, 1.25rem);
}
.header__novigation__group li a {
  font-size: clamp(1.125rem, 0.9807692308rem + 0.641025641vw, 1.75rem);
  position: relative;
  transition: var(--smoothly);
  font-family: var(--RussoOne-Regular);
}
.header__novigation__group li a:active {
  color: var(--blue-gray);
}
.header__novigation__group li a:not(.logo-link)::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--blue-light);
  bottom: -2px;
  left: 0;
  transition: var(--smoothly);
  left: 50%;
  transform: translateX(-50%);
}
@media (any-hover: hover) {
  .header__novigation__group li a:not(.logo-link):hover::after {
    width: 100%;
  }
}
.header__novigation__group li a:not(.logo-link):active::after {
  width: 100%;
}
.header__novigation__group li a:not(.logo-link):focus-visible {
  padding: 5px;
  outline: none;
  border-inline: solid 2px black;
}
.header__novigation__group li a img {
  aspect-ratio: 1;
  width: clamp(4.375rem, 3.9423076923rem + 1.9230769231vw, 6.25rem);
  min-width: 50px;
  max-width: 100px;
}
.header__novigation__group li .logo-link {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@keyframes stickyHeader {
  to {
    box-shadow: -2px 2px 19px 0px rgb(56, 73, 89);
    padding-top: 10px;
    border-radius: 0 0 30% 30%;
  }
}
.catalog * {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.catalog__filters {
  flex: 1;
  max-height: 600px;
  max-width: 400px;
  height: 600px;
  display: flex;
  flex-basis: 290px;
  flex-direction: column;
  min-width: 300px;
}
.catalog__filters-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}
.catalog__filters-form fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  border-radius: var(--br-20);
  border: 4px solid var(--blue-gray);
  padding: 10px;
}
.catalog__filters-form .custom-dropdown {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}
.catalog__filters-form .custom-dropdown[data-dropdown] {
  cursor: pointer;
}
.catalog__filters-form .custom-dropdown .dropdown__selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  background-color: var(--blue-gray);
  outline: 1px solid var(--blue-gray);
  border-radius: 4px;
  transition: outline-color var(--slow);
}
@media (any-hover: hover) {
  .catalog__filters-form .custom-dropdown .dropdown__selected:hover {
    outline-color: var(--white);
    outline-width: 2px;
  }
}
.catalog__filters-form .custom-dropdown .dropdown__selected:active {
  outline-color: var(--white);
  outline-width: 2px;
}
.catalog__filters-form .custom-dropdown .dropdown__selected .dropdown__arrow {
  transition: transform 0.3s;
}
.catalog__filters-form .custom-dropdown .dropdown__selected[aria-expanded=true] .dropdown__arrow {
  transform: rotate(180deg);
}
.catalog__filters-form .custom-dropdown .dropdown__options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  margin: 4px 0 0;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: none;
}
.catalog__filters-form .custom-dropdown .dropdown__options::-webkit-scrollbar {
  background-color: var(--blue-gray);
  max-width: 7px;
}
.catalog__filters-form .custom-dropdown .dropdown__options::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}
.catalog__filters-form .custom-dropdown .dropdown__options[aria-hidden=false] {
  display: block;
}
.catalog__filters-form .custom-dropdown .dropdown__option {
  padding: 10px 12px;
  list-style: none;
  background-color: var(--blue-gray);
  transition: background-color 0.2s;
}
.catalog__filters-form .custom-dropdown .dropdown__option:hover {
  background-color: var(--blue);
  color: white;
}
.catalog__filters-form .custom-dropdown .dropdown__option[aria-selected=true] {
  background-color: var(--white);
}
.catalog__filters__button {
  padding: 5px;
  border-radius: var(--br-20);
  font-size: 1.125rem;
  transition: var(--smoothly);
  outline: 4px solid transparent;
  outline-color: var(--blue-gray);
}
@media (any-hover: hover) {
  .catalog__filters__button:hover {
    background-color: var(--blue-gray);
  }
}
.catalog__filters__button:active {
  background-color: var(--blue-gray);
}

.catalog__group {
  display: grid;
  gap: 5px;
  flex: 1;
  grid-template-columns: repeat(3, 1fr);
  flex-basis: 500px;
}
.catalog__item {
  padding-inline: 10px;
  min-width: 300px;
  padding-block: 10px 5px;
  border-radius: var(--br-20);
  background-color: var(--blue-gray);
}
.catalog__item__title {
  padding: 5px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.catalog__item__wrapper {
  border-radius: var(--br-20);
  overflow: hidden;
  height: 390px;
}
.catalog__item__img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  height: 100%;
  width: 500px;
  -o-object-position: center;
     object-position: center;
  transition: var(--smoothly);
}
.catalog__item:hover .catalog__item__img {
  transform: scale(1.01);
}

.catalog__container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}/*# sourceMappingURL=catalog.css.map */