
@use "fonts";
@use "variables";
@use "globals";
@use "default";

@use './helpers/'as *;

@use "bloks/burger-menu";

@use "bloks/header";
@use "bloks/catalogFilter";
@use "bloks/catalogItems";

.catalog
{
    &__container
    {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        @include tablet 
        {
            flex-wrap: wrap;
        }
    }
}