@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.woff2") format("woff2"), url("../assets/fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../assets/fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.woff2") format("woff2"), url("../assets/fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff2") format("woff2"), url("../assets/fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Russo-One-Regular";
  src: url("../assets/fonts/RussoOne/RussoOne-Regular/RussoOne-Regular.woff2") format("woff2"), url("assets/fonts/RussoOne/RussoOne-Regular/RussoOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  --blue-gray: hsl(209, 25%, 53%);
  --blue-light: rgb(187, 220, 252);
  --blue: hsl(209, 79%, 74%);
  --blue-dark: hsl(209, 23%, 28%);
  --white: hsl(0, 0%, 100%);
  --Montserrat-Regular: "Montserrat-Regular";
  --Montserrat-Medium: "Montserrat-Medium";
  --Montserrat-Bold: "Montserrat-Bold";
  --RussoOne-Regular: "Russo-One-Regular";
  --font-max: 48px;
  --font-h2: 34px;
  --font-h3: 28px;
  --font-h4: 22px;
  --font-min:18px;
  --spacingSection: 50px;
  --smoothly: .2s ease-in;
  --slow: .3s ease;
  --br-20: 20px ;
}

body {
  font-family: var(--Montserrat-Regular), serif;
  font-size: var(--font-min);
  background-color: var(--blue);
  color: var(--white);
  letter-spacing: 1px;
}
body::-webkit-scrollbar {
  background-color: var(--blue-gray);
  max-width: 7px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: var(--br-20);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h1 {
  font-size: clamp(2.375rem, 1.9423076923rem + 1.9230769231vw, 4.25rem);
  font-family: var(--Montserrat-Bold);
  text-align: center;
  margin-bottom: clamp(1.875rem, 1.7307692308rem + 0.641025641vw, 2.5rem);
}

h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  font-size: clamp(2rem, 1.9134615385rem + 0.3846153846vw, 2.375rem);
  margin-bottom: clamp(1.25rem, 1.1057692308rem + 0.641025641vw, 1.875rem);
  position: relative;
  text-align: center;
}
h2::before {
  content: "";
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background-color: var(--blue-light);
  bottom: -5px;
  height: 5px;
  border-radius: 25%;
}

h3 {
  font-family: var(--Montserrat-Bold);
  font-size: clamp(1.375rem, 1.2884615385rem + 0.3846153846vw, 1.75rem);
}

h4 {
  font-family: var(--Montserrat-Bold);
  font-size: clamp(1.125rem, 1.0673076923rem + 0.2564102564vw, 1.375rem);
}

.container {
  max-width: 1480px;
  margin-inline: auto;
  padding-inline: 20px;
}

.scale {
  transform: scale(1.1);
}

.active {
  display: block !important;
}

.burger {
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  text-align: center;
  display: none;
}
@media (max-width: 721px) {
  .burger {
    display: block;
  }
}
.burger__wrapper {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.burger__wrapper.active {
  max-height: 500px;
  opacity: 1;
}
.burger__wrapper a {
  position: relative;
}
.burger__wrapper a::after {
  transition: var(--smoothly);
  content: "";
  width: 0px;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  border-radius: var(--br-20);
  background-color: var(--blue-light);
}
@media (any-hover: hover) {
  .burger__wrapper a:hover::after {
    width: 100%;
  }
}
.burger__wrapper a:active::after {
  width: 100%;
}
.burger__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
  list-style: decimal;
}

.header {
  background-color: var(--blue);
  margin-bottom: clamp(0.625rem, 0.1923076923rem + 1.9230769231vw, 2.5rem);
  position: sticky;
  z-index: 5;
  top: -100px;
  padding-block: 5px;
  animation-name: stickyHeader;
  animation-timeline: scroll();
  animation-fill-mode: both;
  animation-range: 0 150px;
  transition: var(--smoothly);
  top: 0;
}
@media (max-width: 721px) {
  .header__inside-wripper {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    -webkit-clip-path: inset(100%) !important;
            clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
.header__novigation__group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.625rem, 0.4807692308rem + 0.641025641vw, 1.25rem);
}
.header__novigation__group li a {
  font-size: clamp(1.125rem, 0.9807692308rem + 0.641025641vw, 1.75rem);
  position: relative;
  transition: var(--smoothly);
  font-family: var(--RussoOne-Regular);
}
.header__novigation__group li a:active {
  color: var(--blue-dark);
}
.header__novigation__group li a:not(.logo-link)::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--blue-light);
  bottom: -2px;
  left: 0;
  transition: var(--smoothly);
  left: 50%;
  transform: translateX(-50%);
}
@media (any-hover: hover) {
  .header__novigation__group li a:not(.logo-link):hover::after {
    width: 100%;
  }
}
.header__novigation__group li a:not(.logo-link):active::after {
  width: 100%;
}
.header__novigation__group li a:not(.logo-link):focus-visible {
  padding: 5px;
  outline: none;
  border-inline: solid 2px black;
}
.header__novigation__group li a img {
  aspect-ratio: 1;
  width: clamp(4.375rem, 3.9423076923rem + 1.9230769231vw, 6.25rem);
  min-width: 50px;
  max-width: 100px;
}
.header__novigation__group li .logo-link {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@keyframes stickyHeader {
  to {
    box-shadow: -2px 2px 19px 0px rgb(56, 73, 89);
    padding-top: 10px;
    border-radius: 0 0 30% 30%;
  }
}
.start-section {
  padding-block: 100px;
}
.start-section .main-title span {
  position: relative;
}
.start-section .main-title span::after {
  content: "";
  width: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50px;
  background-color: black;
  height: clamp(2.5rem, 2.3557692308rem + 0.641025641vw, 3.125rem);
  position: absolute;
  animation-name: cursor;
  animation-iteration-count: infinite;
  animation-duration: 0.6s;
  animation-timing-function: steps(2);
}

@keyframes cursor {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.swiper {
  margin-bottom: clamp(0.625rem, -0.6730769231rem + 5.7692307692vw, 6.25rem);
  width: 100%;
  max-width: 1500px;
  padding-bottom: clamp(1.25rem, 0.8173076923rem + 1.9230769231vw, 3.125rem);
  border-radius: var(--br-20);
}
.swiper-slide {
  background-position: center;
  box-shadow: 0 8px 12px -5px rgba(0, 0, 0, 0.2);
  background-size: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: relative;
  display: block;
  overflow: hidden;
  height: clamp(15.625rem, 13.4615384615rem + 9.6153846154vw, 25rem);
  width: clamp(15.625rem, 14.9038461538rem + 3.2051282051vw, 18.75rem);
  border-radius: var(--br-20);
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  transition: var(--smoothly);
  transform: scale(1);
}
@media (any-hover: hover) {
  .swiper-slide img:hover {
    transform: scale(1.03);
  }
}
.swiper-slide img:active {
  transform: scale(1.03);
}
.swiper-slide__item {
  color: white;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: var(--blue-dark);
  background: hsl(from var(--blue-dark) h s l/90%);
  overflow: hidden;
  transition: var(--slow);
  text-overflow: ellipsis;
  transform: translateY(85%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.swiper-slide__item:hover {
  transform: translateY(50px);
}
@media (max-width: 721px) {
  .swiper-slide__item {
    padding-block: 5px;
  }
}
.swiper-swiper-slide img {
  display: block;
  width: 100%;
}

.greats {
  margin-bottom: clamp(0.625rem, 0.0480769231rem + 2.5641025641vw, 3.125rem);
  max-width: 1540px;
  margin-inline: auto;
  padding-inline: 20px;
}
.greats-group {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.greats-item {
  background-color: var(--blue-gray);
  max-width: 700px;
  padding: 10px;
  border-radius: var(--br-20);
  position: relative;
  overflow: hidden;
  height: clamp(25rem, 23.5576923077rem + 6.4102564103vw, 31.25rem);
}
@media (any-hover: hover) {
  .greats-item:hover img {
    transform: translate(-50%, -50%) scale(1.05);
  }
}
.greats-item:active img {
  transform: translate(-50%, -50%) scale(1.05);
}
.greats-item__img {
  transition: var(--slow);
  max-width: clamp(31.25rem, 28.3653846154rem + 12.8205128205vw, 43.75rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.greats-item__img-wrapper {
  border: 4px solid var(--blue);
  border-radius: var(--br-20);
  overflow: hidden;
  height: clamp(20rem, 17.4038461538rem + 11.5384615385vw, 31.25rem);
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: var(--blue-dark);
}
.greats-item__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  height: 100%;
}
.greats-item__content {
  text-wrap: balance;
  padding-inline: 5px;
  text-align: center;
  margin-bottom: clamp(0rem, -0.2884615385rem + 1.2820512821vw, 1.25rem);
}
@supports not (text-wrap: balance) {
  .greats-item__content {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=main.css.map */